.metals/
.vscode/

twin/target/*
twin/target/streams/*
twin/target/
twin/.bloop/
twin/.metals/
twin/project/metals.sbt
twin/project/project/*
twin/project/target/*
twin/project/.bloop/*
twin/.vscode/
twin/.bsp/*

# ~/.gitignore
twin/.metals/
twin/.bloop/
twin/.ammonite/
twin/metals.sbt


twin-readside/target/*
twin-readside/target/streams/*
twin-readside/target/
twin-readside/.bloop/
twin-readside/.metals/
twin-readside/project/metals.sbt
twin-readside/project/project/*
twin-readside/project/target/*
twin-readside/project/.bloop/*
twin-readside/.vscode/
twin-readside/.bsp/*

# ~/.gitignore
twin-readside/.metals/
twin-readside/.bloop/
twin-readside/.ammonite/
twin-readside/metals.sbt
twin-readside/.scalafmt.conf

simulator/target/*
simulator/target/streams/*
simulator/target/
simulator/.bloop/
simulator/.metals/
simulator/project/metals.sbt
simulator/project/project/*
simulator/project/target/*
simulator/project/.bloop/*
simulator/.vscode/
simulator/.bsp/*

# ~/.gitignore
simulator/.metals/
simulator/.bloop/
simulator/.ammonite/
simulator/metals.sbt

frontend/target/*
frontend/target/streams/*
frontend/target/
frontend/.bloop/
frontend/.metals/
frontend/simulator/metals.sbt
frontend/project/project/*
frontend/project/target/*
frontend/project/.bloop/*
frontend/.vscode/
frontend/.bsp/*

# ~/.gitignore
frontend/.metals/
frontend/.bloop/
frontend/.ammonite/
frontend/metals.sbt
frontend/project/metals.sbt
~                
~                
